
.swiper-container {
  display: flex;
  width: 100%;
  height: 100%;

}

.swiper-slide {
  text-align: center;
  background: var(--color-bg-primary);
  img{

  }

  h2 a {
    color: var(--color-text-primary);
    padding: 16px 32px;
    opacity: 0.8;
    transition: 0.3s;
  }
  h3 a{
  color: var(--color-text-primary);
    padding: 16px 32px;
    opacity: 0.8;
    transition: 0.3s;

}
  h2 a:hover {
   opacity: 1;
  }
  h3 a:hover{
    opacity: 1;

  }
}

.informations-film-slider {
  border: 20px double #FFE093;
  border-radius: 10px;


  text-shadow: 1px 1px 2px white, 0 0 60px yellow, 0 0 10px darkgoldenrod;
}

.swiper-button-next {

}