//STYLE DE NOTRE HEADER

.titre-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 200;

  font-size: 35px;
  font-family: var(--ff-title-primary);

}


.menu-principal{

  display: grid;
  grid-gap: 30px;
  justify-items: center;

  position: relative;
  top: -400px;
  z-index: 100;

  list-style-type: none;
  padding: 0;

  width: 100%;


  transition: top 0.4s ease-in-out;
}

.main-nav:hover  .menu-principal {
  top: 0;
}




.menu-principal a {

  font-size: 1.375rem;
  color: var(--color-text-secondary);
  border: 10px solid #fff;
  border-radius: 10px;
  background-color: var(--color-white);

}

.menu-principal a:hover {
  text-decoration: underline;
  color: var(--color-link-hover);
}

@media screen and(max-width: 395px){
  .menu-principal{

    display: grid;
    grid-gap: 10px;
    justify-items: center;

    width: 100%;
    height: 200px;

  }

}