//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

:root{
  // Couleur de base
  // Couleur de base
  --color-white: #fff;
  --color-black: #000;



  // Couleurs du projet

  --color-text-primary:#FFFFFF;
  --color-text-secondary: #000;
  --color-text-tertiary: #ffeb3b;

  --color-link: #870000;
  --color-link-visited: #333333;
  --color-link-hover: #ff6434;
  --color-link-active: #ff6434;
  --color-link-focus: #ff6434;

  --color-bg-primary: #000000;
  --color-bg-secondary: #C4C4C4;
  --color-bg-tertiary: #dd2c00;
  --color-bg-quaternary: #ffeb3b;


  // Couleurs des médias sociaux
  --color-facebook: #3b5999;
  --color-twitter: #55acee;
  --color-instagram: #e4405f;
  --color-snapchat: #FFFC00;

}




